
#general{
    height: 100vh;
    width: 85%;
    text-align: center;
    margin: 0;
}

#titulo h2{

    font-family: cursive;
    margin: 30px;
    text-align: center;
}


#general div:hover{
    transition: all 300ms ease;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}


#general div{
    float: right;
    background-image: radial-gradient(rgb(252, 246, 246), rgb(3, 53, 10));
    width: 300px;
    height: 150px;
    margin: 5px;
    border-radius: 15px;
    margin-top: 50px;

}

#general div  h3{
    color: black;
    margin-top: 60px;
}
#general div a{
    text-decoration: none;
}

#destacadas{
    background: rgba(4, 67, 139, 0.2);
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 20px;

}

.seleccion div img{
    width: 400px;
    height: 200px;
    margin: 15px;
    border: solid 10px white;
    border-radius: 20px;

}

#destacadas .seleccion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
