
#noticias .contenido img{
    width: 250px;
    height: 120px;
    border-radius: 5px;

}

#noticias .contenido img:hover{
    transition: all 300ms ease;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);

}

#noticias{
    
    text-align: center;

}

#noticias .contenido h3{
    margin-top: 30px;
    text-align: left;
    margin-left: 120px;
   
}

#noticias .contenido h4{
    width: 250px;
    text-align: center;
}
#noticias .contenido article{
    margin: 15px;
}

.nacional{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    cursor: default;
}
.salud{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    cursor: default;
    
}

.espectaculo{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    cursor: default;
}


#noticias {
    width: 85%;
    float: left;
}

.valores{
    text-align: center;
    height: 80px;
    background-image: radial-gradient(rgb(88, 87, 87), black);
    color: white;
    font-family: cursive;
}


#valor_dolar{
    align-items: center;
}
