*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: radial-gradient(rgb(88, 87, 87),white);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

.navegacion{
    background:black;
    height: 40px;

    
}

.navegacion li a{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.navegacion li{
    float: left;
    display: block;
    padding: 10px;
}

.navegacion li:hover{
    background-color: rgb(175, 173, 173) ;
    filter: brightness(0.5);
    transition: 0.5s;
}

.contenido{
    padding: 10px;
}

.contenido h1{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding: 10px;
}

.contenido p{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding: 5px;
}

.footer{
    background-color: black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}