
@import url(menu.css);
@import url(contenido.css);
@import url(lateral.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}


h1{
    float: left;
}
.contenedor{
    width: 100%;
    margin: auto;
}
header .contenedor{
    display: table;
}
section{
    width: 100%;
    margin-bottom: 50px;
}

#cabecera{
    width: 100%;
    background-image: url("../img/FONDO/header.jpg");
    height: 300px;
    text-align: center;
    font-family: cursive;
    justify-content: center;
    background-size: cover;
    top: 10px;
    padding-top: 10rem;
    color: white;

}



main{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 50px;
}

footer{
    width: 100%;
    height: 80px;
    background: black;
    bottom: 0;

    
}

footer div p{
    color: white;
    text-align: center;
    font-family: cursive;
    padding: 20px;

}