
@import url(menu.css);
@import url(contenido.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 5px;
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}
h1{
    float: left;
}
.contenedor{
    width: 98%;
    margin: auto;
}
header .contenedor{
    display: table;
}
section{
    width: 100%;
    margin-bottom: 50px;
}



main{
    width: 95%;
    height: auto;
    padding: 10px;
    margin-top: 50px;
}