@import url(estilos.css);

#formulario{
    height: 100vh;
}

#formulario h2{
    background-image: radial-gradient(rgb(39, 10, 204),rgb(14, 4, 68));
    font-family: cursive;
    color: white;
    text-align: center;
    padding: 15px;
    border-bottom: solid 5px white;
    border-radius: 8px 8px 0px 0px;
}


.contacto{
    width: 95%;
    margin: auto;
    background-image: radial-gradient(rgb(39, 10, 204),rgb(14, 4, 68));
    max-width: 500px;
    border-radius: 8px;
}

.contenedor-input{
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


input{
    padding: 10px;
    margin-top: 10px;

}

.col-sm{
    width: 48%;
    border-radius: 15px;

}

.col-xl{
    width: 100%;
    border-radius: 15px;

}

.col-xxl{
    width: 100%;
    height: 150px;
    border-radius: 15px;

}

.accion{
    background: tomato;
    color: white;
    margin: 15px;
    border-radius: 30px;
    border: solid 1px black;
    margin: auto;
    margin-top: 10px;

}